#comments:empty {
	display: none;
}

#comments .container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#comments .commentName {
	display: block;
	font-weight: bold;
	text-align: left;
	color: #000;
	font-size: 20px;
}

#comments .commentContent {
	display: block;
}

#comments .commentSeparator {
	
}



#newComment .container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-bottom: 30px;
}

#newComment .nameLabel {
	display: block;
	font-weight: bold;
	text-align: left;
	color: #000;
	font-size: 20px;
}

#newComment .nameArea {
	resize: none;
	width: 100%;
}

#newComment .commentLabel {
	display: block;
	font-weight: bold;
	text-align: left;
	color: #000;
	font-size: 20px;
	
	margin-top: 10px;
}

#newComment .commentArea {
	width: 100%;
	height: 100px;
	
	resize: vertical;
}

#newComment button {
	float: right;
	margin-right: 0px;
	margin-top: 10px;
	
	width: 90px;
	height: 23px;
	
	border-radius: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	
	box-shadow: 1px 1px 3px #000;
	
	background-color: #DDD;
}
#newComment button:hover {
	background-color: #BBB;
}
#newComment button:active {
	background-color: #999;
}