#menu {
	font-size: 20px;
}

#menu .container {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#menu a {
	color: #999;
	cursor: auto;
	display: inline-block;
	font-size: 50px;
	height: auto;
	line-height: 20px;
	
	margin-bottom: 25px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	text-decoration: none;
	width: auto;
}

#menu #header .text {
	width: 100%;
	display: inline-block;
	text-align: left;
}
#menu #header .text a {
	color: #999;
}
#menu #header .text a:hover {
	color: #777;
}
#menu #header .text a:active {
	color: #000;
}

#menu #header .image {
	width: 100%;
}

#menu #links {
	width: 100%;
	display: inline-block;
	text-align: right;
	margin-bottom: 0px;
}

#menu .button {
	color: #999;
	display: inline-block;
	font-size: 20px;
	height: 27px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	text-align: center;
	
	position: relative;
	z-index: 0;
}

#menu .button:hover {
	background-color: #CCC;
	color: #FFF;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#menu .currentButton,
#menu .currentButton:hover {
	color: #FFF;
	background-color: #999;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#menu hr {
	margin-top: -4px;
	width: 100%;
	height: 5px;
	background-color: #999;
	border-style: none;
	
	position: relative;
	z-index: 1;
}