html {
    overflow-y: scroll;
    font-family: Helvetica, sans-serif; 
}

body {
	background-color: #F1F1F1;
}

.section {
	background-color: #FFF;
	box-shadow: 2px 3px 5px 2px #888;
	width: 650px;
	
	display: block;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	
	padding: 10px 0px;
	
	border-style: none;
	border-radius: 2px;
}

.hidden {
	display: none;
	visibility: hidden;
}

.footer {
	text-align: center;
}

.container {
	position: relative;
}